<div class="line-fixed">
    <mat-form-field floatLabel="never" class="customer-search-box">
        <input type="text" matInput placeholder="Tìm kiếm khách hàng (F4)" [formControl]="customerSearch" [matAutocomplete]="auto">
        <mat-icon matPrefix>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption [displayWith]="displayCustomerOption" #auto="matAutocomplete">
            <mat-option *ngFor="let c of customers | async" [value]="c" (onSelectionChange)="customerSelected(c)">
                <div class="sm-list-search-results-item">
                    <div class="line"> <b class="title">{{ c.customerName }}</b></div>
                    <mat-divider></mat-divider>
                </div>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-list>
        <mat-list-item>Khách hàng: <span class="side-spacer"></span>{{ so.customerName }}</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
<mat-list class="bottom-spacer">

    <mat-list-item>
        <b>Tổng tiền</b>
        <span class="side-spacer"></span>
        {{so.totalAmount | amountConverter}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        Khách hàng đưa
        <span class="side-spacer"></span>

        <input matInput class="right"
               type="text"
               appCurrencyFormatter [ngModel]="so.payAmount"
               (ngModelChange)="so.payAmount=$event" style="border-bottom:1px #e9ecef solid"
               (keyup)="onChange()" />

    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        Tiền thừa trả lại khách
        <span class="side-spacer"></span>
        {{so.returnAmount | amountConverter}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-form-field floatLabel="never">
            <textarea placeholder="Ghi chú" type="text" matInput>{{so.notes}}</textarea>
        </mat-form-field>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-toolbar color="primary">
        <span class="checkout-title" (click)="releaseSalesOrder()" style="cursor:pointer">
            <mat-icon class="md-36">print</mat-icon>&nbsp;
            Thanh toán (F9)
        </span>
    </mat-toolbar>
</mat-list>
