<table class="table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">STT</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col" class="text-right">Giá bán</th>
            <th scope="col" class="text-right">Số lượng</th>
            <th scope="col" class="text-right">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of so.order_items; let i = index">
            <th scope="row"><i class="material-icons" (click)="onDeleteItem(item)" style="font-size:25px; color:red; font-weight:bold; cursor:pointer">clear</i></th>
            <th scope="row">{{i}}</th>
            <th scope="row">{{item.product.sku}}</th>
            <th scope="row">{{item.product.name}}</th>
            <th scope="row" class="text-right"><input class="text-right" [(ngModel)]="item.price_incl_tax" value="{{item.price_incl_tax | number: 0}}" style="max-width:70px; border: none" (ngModelChange)="onChange(item)" /></th>
            <th scope="row" class="text-right"><input class="text-right" [(ngModel)]="item.quantity" value="{{item.quantity | number: 0}}" style="max-width:70px; border: none" (ngModelChange)="onChange(item)" /></th>
            <th scope="row" class="text-right">{{item.total_amount | number: 0}}</th>
        </tr>
    </tbody>
</table>